<?xml version="1.0"?>
<config>
    <modules>
        <VS7_Criteo>
            <version>0.1.0</version>
        </VS7_Criteo>
    </modules>
    <global>
        <models>
            <vs7_criteo>
                <class>VS7_Criteo_Model</class>
            </vs7_criteo>
        </models>
        <blocks>
            <vs7_criteo>
                <class>VS7_Criteo_Block</class>
            </vs7_criteo>
        </blocks>
        <helpers>
            <vs7_criteo>
                <class>VS7_Criteo_Helper</class>
            </vs7_criteo>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <vs7_criteo>
                    <file>vs7_criteo.xml</file>
                </vs7_criteo>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <vs7>
                            <title>VS7</title>
                        </vs7>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <vs7_criteo>
                                            <title>Criteo</title>
                                        </vs7_criteo>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>